<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "{{ page.person_name }}",
      "description": "{{ page.person_description }}",
      "disambiguatingDescription": "{{ page.person_disambiguating_description }}",
      "image": [
        "{{ page.person_image }}"
      ],
      "givenName": "{{ page.person_given_name }}",
      "familyName": "{{ page.person_family_name }}",
      "alternateName": "{{ page.person_alternate_name }}",
      "url": "{{ page.person_url }}"
  }
</script>
